@import url('https://fonts.googleapis.com/css?family=Muli');
body {
    background: #E1E7FA;
    font-family: "Muli", sans-serif;
}

.header {
    background: #fff;
    width: auto;
    height: 140px;
    margin: 12px;
    display: flex;
    justify-content: space-between;
}

.navtitle {
    display: flex;
}

.icon {
    display: flex;
    flex-direction: column;
}

.company {
    margin: 0;
}

h5 {
    margin: 0;
    font-size: 10px;
}

nav {
    text-transform: uppercase;
    display: flex;
    font-size: 12px;
    font-weight: 900;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 0 3em;
    width: 100%;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 100px;
    display: flex;
    justify-content: center;
    align-content: space-between;
}

nav ul li {
    margin: 0 15px;
}

.links {
    display: flex;
    align-items: center;
    width: 13em;
    justify-content: space-between;
}

.subscribed {
    background-color: #0928CC;
    color: #fff;
    font-size: 11px;
    text-transform: uppercase;
    height: 35px;
    width: 115px;
    border-radius: 50px;
}

.in-icon {
    text-transform: lowercase;
    background: black;
    color: floralwhite;
    font-size: 35px;
    text-align: center;
    font-family: cursive;
    height: 40px;
    width: 40px;
    margin: 10px;
}

i {
    border: solid black;
    border-width: 0 2px 2px 0;
    display: inline-block;
    padding: 3px;
}

.down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}